root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,props,targets,xml,resx,ruleset,config,json,jsonc,yml,yaml}]
indent_size = 2

[*.{js,jsx,ts,tsx,html,css,scss}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[**/wwwroot/lib/**]
end_of_line = unset
indent_style = unset
indent_size = unset
tab_width = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
